:root {
    --text: #16100c;
    --background: #faf8f6;
    --primary: #EE8339;
    --secondary: #4A3931;
    --accent: #312020;
    --button: #645AA4;
    --text-invert: #f2ece8;
    --background-invert: #2b2a33;
    --primary-invert: #EE6220;
    --secondary-invert: #313131;
    --accent-invert: #EEBD08;
    --button-invert: #98C8DE;
}

#app.theme-dark {
    --text: #f2ece8;
    --background: #2b2a33;
    --primary: #EE6220;
    --secondary: #313131;
    --accent: #EEBD08;
    --button: #98C8DE;
    --text-invert: #16100c;
    --background-invert: #faf8f6;
    --primary-invert: #EE8339;
    --secondary-invert: #4A3931;
    --accent-invert: #312020;
    --button-invert: #645AA4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    flex: 1;
}

#root, #app {
    color: var(--text);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    flex: 1;
}

#app {
    color: var(--text);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;
}

datalist {
    position: absolute;
    max-height: 20em;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: #ccc;
    cursor: pointer;
  }
  
  /* option active styles */
  datalist option:hover, datalist option:focus {
    color: #fff;
    background-color: #036;
    outline: 0 none;
  }